# Compiled output
/dist
/build

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Logs & debug
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# OS
.DS_Store

# Tests & coverage
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

# Temp files
.temp
.tmp

# Next.js
/.next/
/out/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem

node_modules
.env
.DS_Store
backend/node_modules
backend/dist
backend/.env
backend/.turbo
frontend/node_modules
frontend/.next
frontend/out
frontend/.env.local
.idea
.vscode